{{#exists}}
  <form action="/v1/p/{{ post.id }}" method="post">
    <input type="hidden" name="_method" value="PUT" />
{{/exists}}
{{^exists}}
  <form action="/v1/p" method="post">
{{/exists}}

  <fieldset>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="title" value="{{ post.title }}" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="url" value="{{ post.url }}" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="text" value="{{ post.text }}" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="author" value="{{ post.author }}" />
      </div>
    </div>

    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Save" />
    </div>

  </fieldset>
</form>