<div class='container-fluid'>
	<header>
		<h4 class='text-center'>Choose some feeds, then click <button type='button' class='btn btn-default disabled feed-btn'>Done</button></h4>
	</header>

	<div id='create-content' class='panel panel-default card-picker'>
		<ul class='nav nav-tabs third'>
			<% if (User.isLoggedIn()){ %>
				<li class='active text-center'>
					<a href='#feedall' data-toggle='tab' class='l-tab'>Browse</a>
				</li>
				<li class='text-center'>
					<a href='#feedmine' data-toggle='tab' class='m-tab'>My Feeds</a>
				</li>
				<li class='text-center'>
					<a href='#feednew' data-toggle='tab' class='r-tab'>Add a Feed</a>
				</li>
			<% }else{ %>
				<li class="active text-center half">
					<a href='#feedall' data-toggle='tab' class='l-tab'>Browse</a>
				</li>
				<li class="text-center half">
					<a href='#feednew' data-toggle='tab' class='r-tab'>Add a Feed</a>
				</li>
			<% } %>
		</ul>

		<div class='tab-content'>
			<div class='tab-pane active' id='feedall'>
				<div class='container-fluid'>
					<div class='row cat-list-bg'>
						<div class='cards col-xs-9 tab-content'>
							<div class='tab-pane active' id='all'>
								<ul class='card-list'>
									<% _.each(fc.models, function(f, i){ %>
										<li class='card selectable<%= f.get('selected') ? ' selected' : '' %>' data-id='<%= f.id %>'>
											<div class='card-icon'>
												<% if (f.get('icon')){ %>
													<img src='<%= f.get('icon') %>'>
												<% } %>
											</div>
											<p class='card-title'><%= f.get('title') %></p>
											<p class='card-desc'><%= f.get('description') %></p>
										</li>
									<% }); %>
								</ul>
							</div>
							<% _.each(categories, function(c, i){ %>
								<div class='tab-pane' id='<%= c.name %>'>
									<ul class='card-list'>
										<% _.each(fc.getByCategory(c.id), function(f, i){ %>
											<li class='card selectable<%= f.get('selected') ? ' selected' : '' %>' data-id='<%= f.id %>'>
												<div class='card-icon'>
													<% if (f.get('icon')){ %>
														<img src='<%= f.get('icon') %>'>
													<% } %>
												</div>
												<p class='card-title'><%= f.get('title') %></p>
												<p class='card-desc'><%= f.get('description') %></p>
											</li>
										<% }); %>
									</ul>
								</div>
							<% }); %>
							<div class='tab-pane' id='Other'>
								Other
							</div>
							<div class='tab-pane' id='Entertainment'>
								Entertainment
							</div>
						</div>
						<div class='cats col-xs-3'>
							<div class='search-container'>
								<form>
									<div class='input-group'>
										<input type='text' id='feed-search' class='form-control'>
										<span class='input-group-addon'><i class='fa fa-search'></i></span>
									</div>
								</form>
							</div>
							<ul id='cat-list' class='nav nav-pills nav-stacked'>
								<li class='active' data-id='0'><a href='#all' data-toggle='tab'>All</a></li>
								<% _.each(categories, function(c, i){ %>
									<li data-id='<%= c.id %>'><a href='#<%= c.name %>' data-toggle='tab'><%= c.name %></a></li>
								<% }); %>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class='tab-pane' id='feedmine'>
				<div class='container-fluid'>
					<div class='row cat-list-bg'>
						<div class='cards col-xs-9 tab-content'>
							<div class='tab-pane active' id='all'>
								<ul class='card-list'>
									<% _.each(fc.models, function(f, i){ %>
										<li class='card selectable<%= f.get('selected') ? ' selected' : '' %>' data-id='<%= f.id %>'>
											<div class='card-icon'>
												<% if (f.get('icon')){ %>
													<img src='<%= f.get('icon') %>'>
												<% } %>
											</div>
											<p class='card-title'><%= f.get('title') %></p>
											<p class='card-desc'><%= f.get('description') %></p>
										</li>
									<% }); %>
								</ul>
							</div>
							<% _.each(categories, function(c, i){ %>
								<div class='tab-pane' id='m<%= c.name %>'>
									<ul class='card-list'>
										<% _.each(fc.getByCategory(c.id), function(f, i){ %>
											<li class='card selectable<%= f.get('selected') ? ' selected' : '' %>' data-id='<%= f.id %>'>
												<div class='card-icon'>
													<% if (f.get('icon')){ %>
														<img src='<%= f.get('icon') %>'>
													<% } %>
												</div>
												<p class='card-title'><%= f.get('title') %></p>
												<p class='card-desc'><%= f.get('description') %></p>
											</li>
										<% }); %>
									</ul>
								</div>
							<% }); %>
							<div class='tab-pane' id='Other'>
								Other
							</div>
							<div class='tab-pane' id='Entertainment'>
								Entertainment
							</div>
						</div>
						<div class='cats col-xs-3'>
							<div class='search-container'>
								<form>
									<div class='input-group'>
										<input type='text' id='feed-search' class='form-control'>
										<span class='input-group-addon'><i class='fa fa-search'></i></span>
									</div>
								</form>
							</div>
							<ul id='cat-list' class='nav nav-pills nav-stacked'>
								<li class='active' data-id='0'><a href='#all' data-toggle='tab'>All</a></li>
								<% _.each(categories, function(c, i){ %>
									<li data-id='<%= c.id %>'><a href='#m<%= c.name %>' data-toggle='tab'><%= c.name %></a></li>
								<% }); %>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class='tab-pane' id='feednew'>
				<form id='form-feed'>
					<div class='form-group'>
						<div class='input-group col-sm-8 col-sm-offset-2'>
							<input type='url' id='feed-custom' class='form-control' placeholder='Enter the website RSS address.' required>
							<span class='input-group-btn'>
								<button type='submit' id='feed-add' class='btn btn-default'>Add</button>
							</span>
						</div>
					</div>
					<div id='feed-status' class='status text-center'></div>
				</form>
			</div>
		</div>
	</div>
</div>