<% _.each(categories, function(c, i){ %>
	<% if (activeCategory.id == 0 || activeCategory.id == c.id){ %>
		<div class='category panel panel-default'>
			<div class='panel-heading'>
				<h4><%= c.name %></h4>
			</div>
			<div class='panel-body'>
				<ul>
					<% _.each(feeds.getByCategory(c.id), function(f, i){ %>
						<li class='well selectable<%= f.get('selected') ? ' selected' : '' %>' data-id='<%= f.id %>'>
							<div class='feed-icon'>
								<% if (f.get('icon')){ %>
									<img src='<%= f.get('icon') %>'>
								<% } %>
							</div>
							<p class='feed-title'><%= f.get('title') %></p>
							<p><%= f.get('description') %></p>
						</li>
					<% }); %>
				</ul>
			</div>
		</div>
	<% } %>
<% }); %>