<div class='row'>
  <div class='col-md-4'>
    <div class="well">
      <form name='kloj-form' id='kloj-form'>
        <legend>
          Congratulations! You created a Kloj!
          <small>Check it out <a href="<%= kloj.getURL() %>">here</a>.</small>
        </legend>
        <div class='form-group'><input type="text" class='form-control' id="name" placeholder="Name it!" pattern="^[\w\d\s]*$" title='Letters, numbers, and spaces only.'></div>
        <div class='form-group'>
          <button id='btn-save' class='btn btn-default'>Save!</button>
          <button id='btn-done' class='btn btn-default'>Done</button>
        </div>
        <div id='status-save' class='alert alert-info'>Remember to save after editing!</div>
      </form>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='well'>
      <form class='form-horizontal' id='form_customize' role='form'>
        <legend>Customize</legend>
        <div class='form-group'>
          <label class='control-label col-sm-4' for='template'>Style</label>
          <div class='col-sm-8'>
            <select class='form-control' id='template'></select>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-4' for='scheme'>Theme</label>
          <div class='col-sm-8'>
            <select class='form-control' id='scheme'></select>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-4' for='density'>Density</label>
          <div class='col-sm-8'>
            <select class='form-control' id='density'>
              <option value='compact'>Compact</option>
              <option value='condensed'>Condensed</option>
              <option value='expanded'>Expanded</option>
            </select>
          </div>
        </div>
<!--        <div class='form-group'>
          <label class='control-label col-sm-4' for='bg'>Background</label>
          <div class='col-sm-8'>
            <input type='text' class='minicolor form-control' id='bg'>
          </div>
        </div>
        <% if (kloj.get('theme').get('file') == 'brick'){ %>
          <div class='form-group'>
            <label class='control-label col-sm-4' for='postbg'>Item Background</label>
            <div class='col-sm-8'>
              <input type='text' class='minicolor form-control' id='postbg'>
            </div>
          </div>
        <% } %>
        <div class='form-group'>
          <label class='control-label col-sm-4' for='color'>Text Color</label>
          <div class='col-sm-8'>
            <input type='text' class='minicolor form-control' id='color'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-4' for='size'>Text Size</label>
          <div class='col-sm-8'>
            <select class='form-control' id='size'>
              <option value='xs'>Smaller</option>
              <option value='s'>Small</option>
              <option value='m' selected>Medium</option>
              <option value='l'>Large</option>
              <option value='xl'>Larger</option>
            </select>
          </div>
        </div>-->
      </form>
    </div>
  </div>
  <div class='col-md-4'>
    <% if (User.isLoggedIn()){ %>
      <div class='well' id='user-opts'>
        <legend>Font</legend>
        <div class='font-picker'></div>
      </div>
    <% }else{ %>
      <div class='well' id='d-signup'>
        <legend>Own it!</legend>
        <form class='form-horizontal' name='register-form' id='register-form'>
          <div class='form-group'>
            <label for='username' class='col-sm-3 sr-only'>Username</label>
            <div class='col-sm-9'>
              <input type='text' id='username' class='form-control' required pattern='[a-zA-Z0-9]+' placeholder='Username'>
            </div>
          </div>
          <div class='form-group'>
            <label for='email' class='col-sm-3 sr-only'>Email</label>
            <div class='col-sm-9'>
              <input type='email' id='email' class='form-control' required placeholder='Email'>
            </div>
          </div>
          <div class='form-group'>
            <label for='password' class='col-sm-3 sr-only'>Password</label>
            <div class='col-sm-9'>
              <input type='password' id='password' class='form-control' required placeholder='Password'>
            </div>
          </div>
          <div class='form-group'>
            <div class='col-sm-offset-3 col-sm-9'>
              <button class='btn btn-default' type='submit' id='btn-join'>Join</button>
              <span class='status' id='status-signup'></span>
            </div>
          </div>
        </form>
        <p>Joining allows much more customization options, including: a custom url for your kloj, extra or hidden displays, and custom posts. </p>
      </div>
    <% } %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div id='klojpreview'></div>
  </div>
</div>