<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <a href='/' data-bypass><img src='img/logo.png' style='height: 42px;'></a>
    </div>
  </div>
</nav>
<div class='signup-page'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4'>
        <div class='panel panel-default'>
          <form class='form' role='form' method='post' id='login' name='login'>
            <div class='panel-body'>
              {{#messages}}
                <div class="alert alert-danger text-center">{{message}}</div>
              {{/messages}}
              <h5 class='text-center'>SIGN IN</h5>
              <div class='form-group'>
                <div class='input-group'>
                  <span class='input-group-addon'><i class='fa fa-fw fa-user'></i></span>
                  <input type='text' class='form-control' name='username' id='username' placeholder='Username' required/>
                </div>
              </div>
              <div class='form-group'>
                <div class='input-group'>
                  <span class='input-group-addon'><i class='fa fa-fw fa-lock'></i></span>
                  <input type='password' class='form-control' name='password' id='password' placeholder='Password' required/>
                </div>
              </div>
              <div class='text-center'>
                <span class='spanlink' id='forgot'><a href=''>trouble signing in</a></span>
                <span class='spanlink'><a href='register' data-bypass>create an account</a></span>
              </div>
              <div class='text-center'><span id='status'></span></div>
            </div>
            <button type='submit' class='btn btn-primary btn-block'>SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
