@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

@klojHeaderHeight: 47px;

html {
	height: 100%;
}
body {
	height: 100%;
}
img {
  max-width: 100%;
}
a {
  color: #3FA8FF;
}
#page {
	height: 100%;
}

.marleft10 {
  margin-left: 10px;
}
.width100 {
  width: 100%;
}
.float-right {
  float: right;
}
.alert-kloj {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
}
.embed-wrap {
  max-width: 800px;
  clear: left;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.header-row {
  background: white;
  border-bottom: 1px solid #DDD;
  .nav-search {
    margin-left: 88px;
    max-width: 550px;
    width: auto;
  }
  .logo {
    position: absolute;
    padding: 5px 15px;
    /* height: 40px;*/
  }
  #nav-block {
    margin: 10px 0;
    &>div {
      margin: 0 auto;
      &.user {
        width: 260px;
      }
      &.guest {
        width: 160px;
      }
    }
    .tab {
      float: left;
      margin: 0 2px;
      a {
        color: #A3A3A3;
        &:hover {
          color: #333;
        }
      }
      &.active a {
        color: #333;
      }
    }
  }
}
.textblock {
  padding: 10px 0;
}
/* -------------- Loader -------------- */
.loader {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  border: 3px solid  rgba(108,108,108, .7);

  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;

  -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
  -webkit-animation: loader 3s linear infinite;
      animation: loader 3s linear infinite;

  &:after {
  	content: "";
	  position: absolute;
	  top: -5px;
	  left: 20px;
	  width: 11px;
	  height: 11px;
	  border-radius: 10px;
	  background-color: #6C6C6C;
	}
}

@-webkit-keyframes loader{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

/* OVERLAY ================================= */
.overlayed {
  overflow: hidden;
}
.overlay {
  position:fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  top: @klojHeaderHeight;
  left:0;
  bottom:0;
  right:0;
  overflow:hidden;
  z-index:100;
  opacity:1;
  transition: opacity 0.3s ease-out;
  .screenWrap {
    position: relative;
    z-index: 105;
    height: 100%;
    overflow-y: auto;
  }
  .contentWrap {
    position: relative;
    top: 20px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 3px;
    width: 95%;
    background: #FFF;
  }
}

/* WELCOME PAGE ============================== */
@welcome-bg: #FFF;
@welcome-font: 'Open Sans', sans-serif;
@welcome-text: rgba(0, 0, 0, 0.9);

.h100 {
  height: 100%; /* so not pretty, but backbone has to create the top div while blade has top div in template */
}
#welcome {
  position: relative;
  min-height: 100%;
	color: @welcome-text;
	font-family: @welcome-font;
  background: @welcome-bg;

	.color {
		color: @welcome-text;
		background: @welcome-bg;
	}
	section {
		padding-top: 50px;
		padding-bottom: 50px;
	}
  header {
    margin-bottom: 50px;
  }
	#intro {
		padding-top: 0;
    /*background: url('/img/welcome/2-comp.jpg');*/
		h1 {
      font-size: 3em;
			font-weight: normal;
      font-family: 'Vollkorn', serif;
		}
    h2 {
      font-size: 2em;
      font-weight: normal;
      margin-bottom: 1em;
    }
	}
  footer {
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    span:not(:last-child):after {
      content: " - ";
    }
    a {
      color: @welcome-text;
      &:hover {
        color: #E5E5E5;
      }
    }
  }
	.forgot-link {
		text-align: center;
		font-size: 80%;
	}
  .navbar {
    background: none;
    border: 0;
    .navbar-nav>li {
      float: left;
      &.open>a {
      color: rgba(0,0,0,0.8);
      background-color: #FFF;
      }
    }
    .dropdown-menu {
      background: #FFF;
      margin-top: -1px;
      margin-right: -1px;
    }
  }
  .navbar-header img {
    margin: 5px;
  }
  .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  #features {
    background: #FFF;
    h3 {
      margin-bottom: 20px;
    }
    p {
      margin-top: 10px;
    }
  }
}

/* APP VIEW ==================== */
#app {
  height: 100%;
}
// #content {
//   height: 100%;
//   overflow-y: auto;
// }
.content-page {
  padding: 10px 15px;
  min-height: 100%;
}

/* SIGNUP & LOGIN ==================== */
.signup-page {
  background: #E5E5E5;
  height: 100%;
  padding-top: 100px;

  h5 {
  	font-family: 'Open Sans', sans-serif;
  }
  .spanlink {
  	margin: 0 15px;
  }

}

/* HOME VIEW ====================== */
@block-border: 1px solid #CCC;
#home {
  font-family: 'Open Sans', sans-serif;
  .popupcolor {
    color: #777;
  }
  .post-actions {
    padding-bottom: 5px;
  }
  .block {
    padding: 10px;
    .block-heading {
      font-weight: bold;
      text-transform: uppercase;
      color: #888;
      font-size: 12px;
      border-bottom: @block-border;
      padding-bottom: 5px;
    }
    .block-body {
      position: relative;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    li {
      padding: 5px 10px;
      /*border-bottom: @block-border;*/
      &:hover {
        background: #E9E9E9;
        cursor: pointer;
      }
      &:not(:last-child) {
        border-bottom: @block-border;
      }
    }
    i {
      color: #777;
    }
  }

  #recent {
    .block-items {
      padding-left: 0;
      list-style-type: none;
      li {
        margin-bottom: 10px;
      }
      .image-wrap {
        float: left;
        width: 160px;
        height: 120px;
        overflow: hidden;
        margin-right: 10px;
        img {
          width: 100%;
          cursor: pointer;
        }
      }
      .post-title a {
        color: #333;
      }
      .klojlink span:before {
        content: " - ";
      }
    }
    .block-body {
      margin-top: 10px;
    }
  }
}

/* PROFILE ======================== */
#profile {
  font-family: 'Open Sans', sans-serif;
  .text-span, .edit-link {
    display: block;
    height: 34px;
    line-height: 1.42857143;
    padding: 6px 12px;
    color: #555;
  }
  .profile-form {
    padding-top: 20px;
  }
  .edit-link {
    color: #9B9BFF;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* KLOJ VIEW ====================== */
#kloj {
  min-height: 100%;

  #kloj-body {
    padding-top: @klojHeaderHeight;
  }

  #kloj-header {
    padding: 6px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
    border-collapse: separate;

    .logo {
      margin-right: 10px;
      height: 31px;
    }
    .title {
      font-size: 1.5em;
    }

    .kloj-action-bar {
      line-height: 33px;
    }

    /* refresh, go top, settings, view web, prev, next */
    .kloj-action, .post-action {
      cursor: pointer;
      margin-left: 8px;
    }
    .post-action, #goTop {
      display: none;
    }

    /* edit, unfollow, follow */
    .kloj-header-action {
      cursor: pointer;
      display: inline-block;
      margin: 0 8px;
    }

    &.down {
      #goTop {
        display: inline-block;
      }
    }
  }

  .popup-header {
    .post-subtext {
      font-size: smaller;
      margin-top: 10px;
    }
  }

  .popup-body {
    padding: 10px 0;
  }

  .subtextcolor a {
    color: inherit;
  }
  .headlinecolor a {
    color: inherit;
  }
  .headlinefont a {
    font-family: inherit;
  }
}

.post-actions {
  margin-top: 10px;
  a, span {
    color: inherit!important;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      // font-weight: 900;
      // padding-bottom: 5px;
      // border-bottom: 1px solid;
    }
  }
  // i {
  //   padding: 10px;
  //   cursor: pointer;
  //   &:hover {
  //     -webkit-filter: invert(100%);
  //   }
  // }
}

#kloj .grid {
  position: relative;

  .post {
    height: 200px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: 0;
    margin: 0 3px 6px;
    padding: 0;
    cursor: pointer;
    img {
      max-width: none;
      /*display: none;*/
    }
    .post-title {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      padding: 2px;
      min-width: 100%;
      white-space: nowrap;
      background: rgba(51, 51, 51, 0.7);
    }
  }
  .fill {
    position: relative;
    margin-bottom: 12px;
    padding: 15px 0;
    .arrow {
      position: absolute;
      top: -10px;
      bottom: auto;
      border-left: 10px solid rgba(0, 0, 0, 0);
      border-right: 10px solid rgba(0, 0, 0, 0);
      height: 0;
      width: 0;
      border-bottom-width: 10px;
      border-bottom-style: solid;
    }
  }
  .k_expand {
    position: absolute;
    left: 0;
    margin-bottom: 12px;
    width: 100%;
    z-index: 5;
  }
}

#kloj .list {
  position: relative;
  padding-top: 5px;

  .post {
    transition: all 0s ease-out;
    padding: 3px;
    margin-left: 1px;
    cursor: pointer;
    .post-header {
      max-height: 70px;
      overflow: hidden;
      .thumb {
        float: left;
        margin: 0;
        margin-right: 5px;
        margin-bottom: 2px;
        overflow: hidden;
        width: 70px;
      }
      p {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    }
    .extract {
      height: 0;
      opacity: 0;
      cursor: auto;
      overflow: hidden;
      .popup-header {
        display: none;
      }
    }
  }
  .selected {
    margin-top: 2px;
    border-left-width: 0;
    border-right-width: 0;
    .post-header {
      padding: 5px 0;
      margin-bottom: 5px;
      border-bottom: 1px solid #CCC;
    }
    .extract {
      padding: 5px 0;
      height: auto;
      opacity: 1;
      /*overflow: auto;*/
    }
    .post-image, .gallery img {
      max-height: ~"calc(100% - 99px)";
    }
  }
  .rank {
    float: left;
    line-height: 1.7;
    text-align: center;
    width: 30px;
  }
  .post-text {
    overflow: hidden;
  }
  &.compressed .post-header p {
    display: inline;
  }
  &.subtextright .post-subtext {
    float: right;
    margin-right: 10px!important;
  }
}

#kloj .brick {
  margin: 15px auto;
  .post {
    width: 200px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    & > img {
      border-radius: 6px 6px 0 0;
      cursor: pointer;
    }
    .post-title, .post-subtext {
      margin: 3px 5px;
    }
    a:hover {
      text-decoration: none;
    }
  }

  @media only screen and (max-width: 429px){ max-width: 200px; }
  @media only screen and (min-width: 430px) and (max-width: 639px){ max-width: 410px; }
  @media only screen and (min-width: 640px) and (max-width: 849px){ max-width: 620px; }
  @media only screen and (min-width: 850px) and (max-width: 1059px){ max-width: 830px; }
  @media only screen and (min-width: 1060px) and (max-width: 1264px){ max-width: 1040px; }
  @media only screen and (min-width: 1265px){ max-width: 1250px; }
}

/* EDIT VIEW =================== */
#kloj-edit {
  height: 100%;
  overflow-y: scroll;
  #sidebar {
    position: absolute;
    z-index: 11;
    top: 0;
    bottom: 0;
    color: #DADADA;
    background: #5E5E5E;
    padding: 0;
    overflow-y: auto;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    & + div {
      padding-left: 300px;
    }
    .sidebar-inner {
      height: 100%;
      width: 100%;
      overflow-y: auto;
    }
    .header {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      height: 44px;
      background: #535353;
      .header_left {
        position: absolute;
        top: 5px;
        left: 5px;
        bottom: 0;
      }
      .header_right {
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 0;
      }
      .header_center {
        position: absolute;
        left: 71px;
        right: 71px;
        top: 5px;
        text-align:center;
      }
    }
    .content {
      .block-title {
        text-transform: uppercase;
        padding: 15px 15px 0;
      }
      .block {
        margin: 10px;
        background: #FCFCFC;
        color: #464646;
        border-radius: 5px;
        .form-group {
          margin-bottom: 0;
          padding: 8px;
          label {
            display: block;
          }
          .form-control {
            border: 0;
            background: #FCFCFC;
          }
          select {
            cursor: pointer;
          }
          & + .form-group {
            border-top: 1px solid #E7E7E7;
          }
          &.inline {
            .left {
              float: left;
            }
            .right {
              float: right;
            }
          }
        }
      }
      .checkbox {
        margin: 0;
      }
      .feeds .list-group-item {
        padding: 10px;
        border: 0;
        img {
          width: 60px;
          float: left;
          margin-top: 3px;
        }
        .feed-title {
          margin-left: 5px;
          float: left;
          width: 145px;
        }
        .badge {
          cursor: pointer;
          &:hover {
            background: #666;
          }
        }
      }
    }
  }
  #kloj {
    overflow-y: scroll;
  }
  #kloj-header {
    left: 300px;
  }
}


/* BROWSE ---------------------- */
#browse {
  background: #3C648B;
  min-height: 100%;
}

/* CREATE ------------------------ */
.create-page {
  padding: 10px 20px;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
  }
}

.theme-picker {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    float: left;
    margin: 20px;
    width: 300px;
    cursor: pointer;
    border: 2px solid #FFF;
    border-radius: 5px;
    &.small {
      width: 243px;
      margin: 10px 0;
    }
    &:hover {
      border: 2px solid #A57BFF;
    }
  }
  img {
    height: 200px;
    width: 100%;
  }
}
.feed-page {
  #feednew {
    padding: 20px;
    .status {
      position: relative;
      min-height: 80px;
      margin-top: 40px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
.preview-page {
  .well {
    height: 300px;
    overflow-y: auto;
  }
}


/* GALLERY --------------------------- */
.carousel-inner {
  background: #333;
  & > .item, & > .item > img {
    max-height: 100%;
  }
  & > .item > img, & > .item > a > img {
    margin: 0 auto;
  }
}
.carousel-indicators {
  bottom: 0;
  li {
    cursor: pointer;
  }
}
.carousel-caption { position: static }
.carousel-control {  line-height: 23px }


/* CARD-PICKER ---------------------- */
@tab-radius: 20px;
@tab-bg: #F1F1F1;
@behind-tab-bg: #EAEAEA;
.card-picker {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  border-radius: @tab-radius;
  .cat-list-bg {
    background: @behind-tab-bg;
    border-radius: @tab-radius;
  }
  .nav-tabs {
    border-bottom: 0;
    &.third li {
      width: 33.33333%;
    }
    &.half li {
      width: 50%;
    }
    &>li {
      .l-tab {
        border-top-left-radius: @tab-radius;
        border-top-right-radius: 0;
        border-right: 1px solid #DDD;
      }
      .m-tab {
        border-radius: 0;
      }
      .r-tab {
        border-left: 1px solid #DDD;
        border-top-right-radius: @tab-radius;
        border-top-left-radius: 0;
      }
      a {
        margin-right: 0;
        padding: 20px 0;
        background: @behind-tab-bg;
        color: #000;
        font-size: 16px;
        border: 0;
        border-bottom: 1px solid #DDD;
      }
      a:hover {
        background: #DDD;
      }
      &.active a {
        font-weight: bold;
        background: @tab-bg;
        border-bottom: 0;
      }
    }
  }
  .card-list {
    list-style-type: none;
    padding-left: 0;
  }
  .cards {
    border-right: 1px solid #D3D3D3;
    padding-bottom: 20px;
    background: @tab-bg;
    border-bottom-left-radius: 20px;
    .card {
      background: linear-gradient(to bottom, #FFF 0, #F7F7F7 100%);
      overflow: hidden;
      cursor: pointer;
      float: left;
      height: 260px;
      margin: 10px;
      padding: 10px;
      position: relative;
      width: 190px;
      border-width: 0;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
      -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
      box-shadow: 0 1px 3px rgba(0,0,0,0.3);
      &.selected {
        background: linear-gradient(to bottom,#55FD70 0,#40BD54 100%);
        border-color: #85AF88;
        i {
          display: block;
        }
        .card-desc {
          color: #333;
        }
      }
      .card-icon {
        display: inline-block;
        height: 50px;
        width: 100%;
        text-align: center;
        img {
          max-height: 100%;
        }
      }
      .card-title {
        margin-top: 10px;
        font-weight: bold;
      }
      .card-desc {
        color: #777;
      }
      .card-hover {
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        .card-hover-block {
          padding-left: 0;
          padding-right: 0;
        }
        span, a {
          cursor: pointer;
          color: white;
          font-weight: bold;
          background: rgba(133, 133, 133, 0.77);
          padding: 5px 10px;
          border-radius: 3px;
          margin-left: -7px;
        }
      }
      &:hover .card-hover {
        display: block;
      }
    }
  }
  .cats {
    padding: 0;
    #cat-list>li {
      margin-top: 0;
      border-bottom: 1px solid #D3D3D3;
      &:last-child {
        border-bottom: 0;
      }
      &>a{
        border-radius: 0;
        font-weight: bold;
        color: #000;
      }
      &.active a {
        background-color: #CCCCCC;
      }
    }
    .search-container input {
      border-radius: 0;
    }
  }
}

#browse .selectable {
  cursor: auto;
}

/** CIRCLE CHECKBOXES ------------ */
.iphone-style  {
  display: block;
  width: 87px;
  height: 28px;
  background: url('/img/check-square.png') no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  &.on {
    background-position: 0% 100%;
  }
  &.off {
    background-position: 100% 0%;
  }
}

/** MODULES ---------------------- */
.uxmag {
  p {
    margin-top: 10px;
  }
}

/** IMAGE PRELOAD GRADIENT ---------- */
.preload {
  position: relative;
}
.preload::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  height: 10px;
  width: 100%;
  -webkit-background-size: 50% 100%;
     -moz-background-size: 50% 100%;
          background-size: 16px 8px;
  -webkit-animation-name: moving-gradient;
     -moz-animation-name: moving-gradient;
          animation-name: moving-gradient;
  -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
          animation-timing-function: linear;
  animation: 0.8s linear 0s normal none infinite moving-gradient;
  background-image: linear-gradient( 315deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.12) 33%, rgba(0, 0, 0, 0.12) 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) );
  background-position: 0, 0;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.65);
  background-color: #A2A2A2;
  background-repeat: repeat-x;
}

@-webkit-keyframes moving-gradient {
  0% {  background-position: left bottom; }
  100% {  background-position: right bottom; }
}
@-moz-keyframes moving-gradient {
  0%   { background-position: left bottom; }
  100% { background-position: right bottom; }
}
@-o-keyframes moving-gradient {
  0%   { background-position: left bottom; }
  100% { background-position: right bottom; }
}
@keyframes moving-gradient {
  0%   { background-position: left bottom; }
  100% { background-position: right bottom; }
}
