<div id='sidebar' class='edit'>
	<div class='sidebar_inner'>
		<div class='header'>
			<div class='header_left'>
				<button id='btn-done' class='btn btn-default'>Done</button>
			</div>
			<div class='header_center'>
				<span id='edit-status' class='status'></span>
			</div>
			<div class='header_right'>
				<button id='btn-save' class='btn btn-info disabled'>Saved</button>
			</div>
		</div>
		<div class='content'>
			<form role='form'>
				<div class='block'>
					<div class='form-group'>
						<label>Title</label>
						<input id='title' class='form-control' value='<%= kloj.get('title') || '' %>'>
					</div>
					<div class='form-group'>
						<label>URL</label>
						<input id='url' class='form-control' value='<%= kloj.get('url') || 'k/'+kloj.id %>'>
					</div>
				</div>
				<div class='block-title'>Feeds</div>
				<div class="block">
					<button class='btn btn-default btn-block'>Add</button>
					<ul class='feeds list-group'>
						<% _.each(kloj.get('feeds').models, function(feed){ %>
							<li class='list-group-item'>
								<% if (feed.get('icon')){ %>
									<img src='<%= feed.get('icon') %>'>
								<% }else{ %>
									<div class='icon-fill'></div>
								<% } %>
								<span class='feed-title'><a href='<%= feed.get('link') %>'><%= feed.get('title') %></a></span>
								<span class='badge'>&times;</span>
								<div class='clearfix'></div>
							</li>
						<% }); %>
					</ul>
				</div>
				<div class='block-title'>Presets</div>
				<div class='block'>
					<div class='form-group'>
						<label>Template</label>
						<select id='template' class='form-control'>
							<% _.each(templates.models, function(template){ %>
								<option value='<%= template.id %>' <%= kloj.get('theme').get('template').id == template.id ? 'selected ' : '' %>><%= template.get('name') %></option>
							<% }); %>
						</select>
					</div>
					<div class='form-group'>
						<label>Theme</label>
						<select id='scheme' class='form-control'>
							<% _.each(schemes.models, function(scheme){ %>
								<option value='<%= scheme.id %>' <%= kloj.get('theme').id == scheme.id ? 'selected' : '' %>><%= scheme.get('name') %></option>
							<% }); %>
						</select>
					</div>
				</div>

				<div class='block-title'>Options</div>
				<div class='block'>
					<div class='form-group inline'>
						<label class='left'>Source</label>
						<div id='showSource' class='iphone-style <%= theme.get('options.showSource') !== false ? 'on' : 'off' %> right' data-render></div>
						<div class='clearfix'></div>
					</div>
					<div class='form-group inline'>
						<label class='left'>Author</label>
						<div id='showAuthor' class='iphone-style <%= theme.get('options.showAuthor') !== false ? 'on' : 'off' %> right' data-render></div>
						<div class='clearfix'></div>
					</div>
					<div class='form-group inline'>
						<label class='left'>Date</label>
						<div id='showDate' class='iphone-style <%= theme.get('options.showDate') !== false ? 'on' : 'off' %> right' data-render></div>
						<div class='clearfix'></div>
					</div>
					<% if (template.get('name') == 'List'){ %>
					<div class='form-group inline'>
						<label class='left'>Thumbnail</label>
						<div id='thumbnail' class='iphone-style <%= theme.get('options.thumbnail') ? 'on' : 'off' %> right' data-render></div>
						<div class='clearfix'></div>
					</div>
					<% } %>
				</div>

				<div class="block-title">
					Theme Options
					<div class='float-right checkbox'>
						<label><input type="checkbox" id="mode">Advanced</label>
					</div>
				</div>
				<div class="block">
					<div class='form-group'>
						<label>Main Background</label>
						<input type='text' id='bg' class='form-control colorpicker' value='<%= theme.get('options.bg') %>'>
					</div>
					<% if (template.get('file') == 'brick'){ %>
						<div class='form-group'>
							<label>Post Background</label>
							<input type='text' id='postbg' class='form-control colorpicker' value='<%= theme.get('options.postbg') %>'>
						</div>
					<% } %>
					<div class='form-group'>
						<label><%= template.get('file') == 'brick' || template.get('file') == 'grid' ? 'Top Bar Text' : 'Headlines' %></label>
						<input type='text' id='headlinecolor' class='form-control colorpicker' value='<%= theme.get('options.headlinecolor') %>'>
					</div>
					<% if (template.get('file') == 'brick' || template.get('file') == 'grid'){ %>
						<div class='form-group'>
							<label>Post Title</label>
							<input type='text' id='postheadlinecolor' class='form-control colorpicker' value='<%= theme.get('options.postheadlinecolor') %>'>
						</div>
					<% } %>
					<% if (template.get('file') != 'grid'){ %>
						<div class='form-group'>
							<label>
								Subtext
								<div class='float-right checkbox'>
									<label><input id='subtextinherit' type='checkbox'>Inherit</label>
								</div>
							</label>
							<input type='text' id='subtextcolor' class='form-control colorpicker' value='<%= theme.get('options.subtextcolor') %>'>
						</div>
					<% } %>
					<div class='form-group'>
						<label>Popup Background</label>
						<input type='text' id='popupbg' class='form-control colorpicker' value='<%= theme.get('options.popupbg') %>'>
					</div>
					<div class='form-group'>
						<label>Popup Text</label>
						<input type='text' id='popupcolor' class='form-control colorpicker' value='<%= theme.get('options.popupcolor') %>'>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div id='kloj' class='bg'></div>