<!-- <i class='fa fa-fw fa-comment-o comment'></i> Comments
<i class='fa fa-fw fa-globe view-web'></i> Original
<i class='fa fa-fw fa-share-alt share'></i> Share
<i class='fa fa-fw fa-star save'></i> Save
<i class='fa fa-fw fa-times post-close'></i> Close
<% if (mode !== 'Home'){ %>
	<i class='fa fa-fw fa-ban post-hide'></i> Hide
	<i class='fa fa-fw fa-chevron-up prev'></i> Prev
	<i class='fa fa-fw fa-chevron-down next'></i> Next
<% } %> -->


<span class='post-comments'>Comments</span> - 
<a href='<%= post.get('url') %>' target='_blank'>Original</a> - 
<span class='post-share'>Share</span> - 
<span class='post-save'>Save</span> - 
<span class='post-close'>Close</span>
<% if (mode !== 'Home'){ %>
 - 
	<span class='post-hide'>Hide</span> - 
	<span class='post-prev'>Prev</span> - 
	<span class='post-next'>Next</span>
<% } %>