<img src='<%= post.getThumbnailByWidth(post.get('width')) %>' width='<%= post.get('width') %>' height='<%= post.get('height') %>' >
<p class='post-title headlinefont'><a class='postheadlinecolor' href='<%= post.get('url') %>'><%= post.get('title') %></a></p>
<p class='post-subtext headlinefont subtextcolor small'><%= view.renderSubtext() %></p>