<!-- <div class='container-fluid'> -->
	<% if (view.isImage || view.isGallery || view.isVideo){ %>
		<div class='row'>
			<div class='col-md-8 text-center'>
				<% if (view.showVideo){ %>
					<%= view.renderVideo() %>
				<% } %>
				<% if (view.showGallery){ %>
					<%= view.renderGallery() %>
				<% } %>
				<% if (view.showImage){ %>
					<a href='<%= post.getImage().url %>' target='_blank'><img class='post-image' src='<%= post.getImage().url %>'></a>
				<% } %>
			</div>
			<div class='col-md-4'>
				<div class='post-actions popupcolor'>
					<%= view.renderActions() %>
				</div>
				<header class='popup-header'>
					<h4 class='post-title headlinecolor popupcolor headlinefont'><a href='<%= post.get("url") %>' target='_blank'><%= post.get('title') %></a></h4>
					<p class='post-subtext headlinecolor popupcolor headlinefont'><%= view.renderSubtext() %></p>
					<span class='post-tags headlinecolor popupcolor headlinefont'></span>
				</header>
			</div>
		</div>
	<% }else{ %>
		<!-- <div class='container'> -->
			<header class='popup-header headlinefont'>
				<h4 class='post-title headlinecolor popupcolor'><a href='<%= post.get("url") %>' target='_blank'><%= post.get('title') %></a></h4>
				<p class='post-subtext subtextcolor'><%= view.renderSubtext() %></p>
				<span class='post-tags linkcolor'></span>
			</header>
			<% if (view.showVideo){ %>
				<%= view.renderVideo() %>
			<% } %>
			<% if (view.showGallery){ %>
				<%= view.renderGallery() %>
			<% } %>
			<% if (view.showImage){ %>
				<img class='post-image' src='<%= post.getImage().url %>'>
			<% } %>
			<article class='popup-body popupcolor textfont'>
				<%= post.getExtract() %>
			</article>
			<div class='post-actions popupcolor'>
				<%= view.renderActions() %>
			</div>
		<!-- </div> -->
	<% } %>
<!-- </div> -->