<div id='gallery<%= id %>' class='gallery carousel slide' data-ride='carousel'>
	<ol class='carousel-indicators'>
		<% _.each(images, function(image, index){ %>
			<li data-target='#gallery<%= id %>' data-slide-to=<%= index %> <% if (index == 0) print("class='active'"); %>></li>
		<% }); %>
	</ol>
	<div class='carousel-inner'>
		<% _.each(images, function(image, index){ %>
			<div class='item <% if (index == 0) print("active"); %>'>
				<img src='<%= image.url %>'>
				<% if (image.caption){ %>
					<div class='carousel-caption'><%= image.caption %></div>
				<% } %>
			</div>
		<% }); %>
	</div>
	<a class='left carousel-control' href='#gallery<%= id %>' data-slide='prev'>
		<span class='glyphicon glyphicon-chevron-left'></span>
	</a>
	<a class='right carousel-control' href='#gallery<%= id %>' data-slide='next'>
		<span class='glyphicon glyphicon-chevron-right'></span>
	</a>
</div>
