<header class='post-header headlinesize'>
  <% if (post.get('featured')){ %>
    <span class='rank small'><i class='fa fa-star'></i></span>
  <% } else if (theme.get('showRank') != false) { %>
    <span class='rank small headlinecolor'><%= options.counter %></span>
  <% } %>
  <% if (theme.get('options.thumbnail')) { %>
    <img class='thumb' src='<%= post.getThumbnailByWidth(theme.get('options.thumbnail') == true ? '200' : theme.get('options.thumbnail')) %>&zc=1'>
  <% } %>
  <div class='post-text'>
    <p class='post-title'>
      <a class='headlinecolor headlinefont' href='<%= post.get("url") %>'><%= post.get("title") %></a>
    </p>
    <p class='post-subtext subtextcolor small'><%= view.renderSubtext() %></p>
  </div>
</header>
<div class='clearfix'></div>
<div class='extract container'></div>
