<% if (fullpage){ %>
	<div id='kloj-header' class='headlinecolor bg'>
		<div class='kloj-action-bar pull-right'>
			<i id='goTop' class='fa fa-angle-double-up kloj-action' title='Back to Top'></i>
			<a class='kloj-web' href='#'><i class='fa fa-globe post-action' title='Open in new window'></i></a>
			<i class='post-prev fa fa-chevron-up fa-lg post-action' title='Previous'></i>
			<i class='post-next fa fa-chevron-down fa-lg post-action' title='Next'></i>
			<i class='post-close fa fa-times post-action' title='Close'></i>
			<i class='kloj-refresh fa fa-refresh kloj-action' title='Refresh'></i>
			<span class='dropdown'>
				<a data-toggle='dropdown' href='#'>
					<i class='fa fa-cog kloj-action' title='Quick Settings' data-action='settings'></i>
				</a>
				<ul class='dropdown-menu dropdown-menu-right' role='menu' area-labelledby='dLabel'>
					<li role='presentation' class='dropdown-header'>Theme</li>
					<li><a href='#' class='render-theme' data-id='86'>Compressed</a></li>
					<li><a href='#' class='render-theme' data-id='57'>Grid</a></li>
					<li><a href='#' class='render-theme' data-id='223'>Magazine</a></li>
					<li><a href='#' class='render-theme' data-id='82'>Brick</a></li>
					<% if ( User.isLoggedIn() && User.id == kloj.get('user_id') || User.id == 3) { %>
						<li role='presentation' class='divider'></li>
						<li role='presentation' class='dropdown-header'>Kloj</li>
						<li><a href='#' data-action='delete'>Delete</a></li>
					<% } %>
				</ul>
			</span>
		</div>
		<div class='kloj-header-bar headlinefont'>
			<a href='/'><img src='/img/headerlogo-trans.png' class='logo'></a>
			<span class='title'><%= kloj.get('title') %></span>
			<% if ( User.id != kloj.get('user_id') ) { %>
				<span class="kloj-author">by <%= kloj.get('author')  || kloj.get('user_id') %></span>
				<% if (User.isLoggedIn()){ %>
					<span class='kloj-header-action'><a href='#' class='kloj-sub'><%= User.isSubbedTo( kloj.id ) ? 'Unfollow' : 'Follow' %></a></span>
				<% } %>
			<% } else { %>
				<span class='kloj-header-action'><a href='edit/<%= kloj.id %>' class='kloj-edit'>Edit</a></span>
			<% } %>
			<% if ( User.id == 3){ %>
				<span class='kloj-header-action'><a href='#' class='kloj-feature'><%= kloj.get('isFeatured') ? 'Unfeature' : 'Feature' %></a></span>
			<% } %>
		</div>
		<div class='clearfix'></div>
	</div>
<% } %>
<div id='kloj-body'>
	<div class='loader'></div>
</div>