<div class='container-fluid'>
	<div class='panel panel-default card-picker'>
		<ul class='nav nav-tabs <%= User.isLoggedIn() ? 'third' : 'half' %>'>
			<li class='active text-center'>
				<a href='#klojfeatured' data-toggle='tab' class='l-tab'>Featured</a>
			</li>
			<li class='text-center'>
				<a href='#klojall' data-toggle='tab' class='m-tab'>All</a>
			</li>
			<% if (User.isLoggedIn()){ %>
				<li class='text-center'>
					<a href='#klojmine' data-toggle='tab' class='r-tab'>Following</a>
				</li>
			<% } %>
		</ul>

		<div class='tab-content'>
			<div class='tab-pane active' id='klojfeatured'>
				<div class='container-fluid'>
					<div class='row cat-list-bg'>
						<div class='cards col-xs-9 tab-content'>
							<div class='tab-pane active' id='all'>
								<ul class='card-list'>
									<% _.each(featuredKloj.models, function(k, i){ %>
										<li class='card selectable<%= k.get('selected') ? ' selected' : '' %>' data-id='<%= k.id %>'>
											<div class='card-icon'>
												<% if (k.get('icon')){ %>
													<img src='<%= k.get('icon') %>'>
												<% } %>
											</div>
											<p class='card-title'><%= k.get('title') || k.id %></p>
											<p class='card-desc'><%= k.get('description') %></p>
											<div class='card-hover'>
												<div class='card-hover-block col-xs-6'>
													<a href='/k/<%= k.id %>' class='kloj-view-block' data-id='<%= k.id %>'>
														 <i class='fa fa-eye'></i> View
													</a>
												</div>
												<div class='card-hover-block col-xs-6' data-id='<%= k.id %>'>
													<span class='kloj-follow-block' data-id='<%= k.id %>'>
														<i class='fa fa-plus'></i> Follow
													</span>
												</div>
											</div>
										</li>
									<% }); %>
								</ul>
							</div>
							<% _.each(categories, function(c, i){ %>
								<div class='tab-pane' id='f<%= c.name %>'>
									<ul class='card-list'>
										<% _.each(featuredKloj.filterByCategory(c.id, feeds), function(k, i){ %>
											<li class='card selectable<%= k.get('selected') ? ' selected' : '' %>' data-id='<%= k.id %>'>
												<div class='card-icon'>
													<% if (k.get('icon')){ %>
														<img src='<%= f.get('icon') %>'>
													<% } %>
												</div>
												<p class='card-title'><%= k.get('title') || k.id %></p>
												<p class='card-desc'><%= k.get('description') %></p>
												<div class='card-hover'>
													<div class='card-hover-block col-xs-6'>
														<a  href='/k/<%= k.id %>' class='kloj-view-block' data-id='<%= k.id %>'>
															 <i class='fa fa-eye'></i> View
														</a>
													</div>
													<div class='card-hover-block col-xs-6' data-id='<%= k.id %>'>
														<span class='kloj-follow-block' data-id='<%= k.id %>'>
															<i class='fa fa-plus'></i> Follow
														</span>
													</div>
												</div>
											</li>
										<% }); %>
									</ul>
								</div>
							<% }); %>
						</div>
						<div class='cats col-xs-3'>
							<div class='search-container'>
								<form>
									<div class='input-group'>
										<input type='text' id='browse-search' class='form-control' placeholder='Kloj, feed, or user'>
										<span class='input-group-addon'><i class='fa fa-search'></i></span>
									</div>
								</form>
							</div>
							<ul id='cat-list' class='nav nav-pills nav-stacked'>
								<li class='active' data-id='0'><a href='#all' data-toggle='tab'>All</a></li>
								<% _.each(categories, function(c, i){ %>
									<li data-id='<%= c.id %>'><a href='#f<%= c.name %>' data-toggle='tab'><%= c.name %></a></li>
								<% }); %>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class='tab-pane' id='klojall'>
				<div class='container-fluid'>
					<div class='row cat-list-bg'>
						<div class='cards col-xs-9 tab-content'>
							<div class='tab-pane active' id='all'>
								<ul class='card-list'>
									<% _.each(allKloj.models, function(k, i){ %>
										<li class='card selectable<%= k.get('selected') ? ' selected' : '' %>' data-id='<%= k.id %>'>
											<div class='card-icon'>
												<% if (k.get('icon')){ %>
													<img src='<%= k.get('icon') %>'>
												<% } %>
											</div>
											<p class='card-title'><%= k.get('title') || k.id %></p>
											<p class='card-desc'><%= k.get('description') %></p>
											<div class='card-hover'>
												<div class='card-hover-block col-xs-6'>
													<a href='/k/<%= k.id %>' class='kloj-view-block' data-id='<%= k.id %>'>
														 <i class='fa fa-eye'></i> View
													</a>
												</div>
												<div class='card-hover-block col-xs-6' data-id='<%= k.id %>'>
													<span class='kloj-follow-block' data-id='<%= k.id %>'>
														<i class='fa fa-plus'></i> Follow
													</span>
												</div>
											</div>
										</li>
									<% }); %>
								</ul>
							</div>
							<% _.each(categories, function(c, i){ %>
								<div class='tab-pane' id='a<%= c.name %>'>
									<ul class='card-list'>
										<% _.each(allKloj.filterByCategory(c.id, feeds), function(k, i){ %>
											<li class='card selectable<%= k.get('selected') ? ' selected' : '' %>' data-id='<%= k.id %>'>
												<div class='card-icon'>
													<% if (k.get('icon')){ %>
														<img src='<%= f.get('icon') %>'>
													<% } %>
												</div>
												<p class='card-title'><%= k.get('title') || k.id %></p>
												<p class='card-desc'><%= k.get('description') %></p>
												<div class='card-hover'>
													<div class='card-hover-block col-xs-6'>
														<a  href='/k/<%= k.id %>' class='kloj-view-block' data-id='<%= k.id %>'>
															 <i class='fa fa-eye'></i> View
														</a>
													</div>
													<div class='card-hover-block col-xs-6' data-id='<%= k.id %>'>
														<span class='kloj-follow-block' data-id='<%= k.id %>'>
															<i class='fa fa-plus'></i> Follow
														</span>
													</div>
												</div>
											</li>
										<% }); %>
									</ul>
								</div>
							<% }); %>
						</div>
						<div class='cats col-xs-3'>
							<div class='search-container'>
								<form>
									<div class='input-group'>
										<input type='text' id='browse-search' class='form-control' placeholder='Kloj, feed, or user'>
										<span class='input-group-addon'><i class='fa fa-search'></i></span>
									</div>
								</form>
							</div>
							<ul id='cat-list' class='nav nav-pills nav-stacked'>
								<li class='active' data-id='0'><a href='#all' data-toggle='tab'>All</a></li>
								<% _.each(categories, function(c, i){ %>
									<li data-id='<%= c.id %>'><a href='#a<%= c.name %>' data-toggle='tab'><%= c.name %></a></li>
								<% }); %>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class='tab-pane' id='klojmine'>
				Following
			</div>
		</div>
	</div>
</div>