<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <div class="modal-body">
        <%= body %>
      </div>
      <div class="modal-footer">
        <% if (showCancel){ %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <% } %>
        <button type="button" id="save" class="btn btn-primary"><%= saveText != undefined ? saveText : 'Save' %></button>
      </div>
    </div>
  </div>
</div>