<div class='container-fluid'>
	<div class='row header-row'>
		<div class='col-sm-8'>
			<a href='/'><img class='logo' src='/img/headerlogo-trans.png'></a>
			<form class='form-inline navbar-form' role='search'>
				<div class='form-group nav-search'>
					<div class='input-group'>
		      	<input type='text' class='form-control' placeholder='People, Posts, Feeds'>
		      	<span class='input-group-addon'>
		      		<i class='fa fa-search'></i>
		      	</span>
		      </div>
		    </div>
		  </form>
		  <div class='clearfix'></div>
		</div>
		<div id='nav-block' class='col-sm-4 header-right'>
			<div class='<%= User.isLoggedIn() ? "user" : "guest" %>'>
				<div id='home_tab' class='tab'>
					<a href='/'><i class='fa fa-fw fa-home fa-2x'></i></a>
				</div>
				<div id='browse_tab' class='tab'>
					<a href='browse'><i class='fa fa-fw fa-globe fa-2x'></i></a>
				</div>
				<div id='create_tab' class='tab'>
					<a href='create'><i class='fa fa-fw fa-edit fa-2x'></i></a>
				</div>
				<% if (User.isLoggedIn()){ %>
					<div id='mykloj_tab' class='tab'>
						<a href='mykloj'><i class='fa fa-fw fa-bookmark fa-2x'></i></a>
					</div>
					<div id='profile_tab' class='tab'>
						<a href='profile'><i class='fa fa-fw fa-user fa-2x'></i></a>
					</div>
					<div id='signout_tab' class='tab'>
						<a href='logout'><i class='fa fa-fw fa-sign-out fa-2x'></i></a>
					</div>
				<% }else{ %>
					<div id='signin_tab' class='tab'>
						<a href='login'><i class='fa fa-fw fa-sign-in fa-2x'></i></a>
					</div>
				<% } %>
				<div class='clearfix'></div>
			</div>
		</div>
	</div>
</div>