<div class='side-lg'>
	<div class='top'></div>
	<div class='content'>
		<ul class='top-list'>
			<li class='toggle'>
				<div class='title'><i class='fa fa-fw fa-toggle-left'></i><span>Hide</span></div>
			</li>
			<li class='divider'></li>
			<li id='home-tab' class='page<%= activeId == 'home' ? ' active' : '' %>' data-url='home'>
				<div class='title'><a href='/home'><i class='fa fa-fw fa-home'></i><span>Home</span></a></div>
			</li>
			<li id='browse-tab' class='page<%= activeId == 'browse' ? ' active' : '' %>' data-url='browse'>
				<div class='title'><a href='/browse'><i class='fa fa-fw fa-eye'></i><span>Browse</span></a></div>
			</li>
			<li id='create-tab' class='page<%= activeId == 'create' ? ' active' : '' %>' data-url='create'>
				<div class='title'><i class='fa fa-fw fa-edit'></i><span>Create</span></div>
			</li>
			<% if (User.isLoggedIn()){ %>
				<li id='saved-tab' class='page' data-url='saved'>
					<div class='title'><i class='fa fa-fw fa-star'></i><span>Saved</span></div>
				</li>
			<% } %>
			<li class='divider'></li>
			<% if (User.isLoggedIn()){ %>
				<li id='klojfolder-tab' class='folder'>
					<div class='title'><i class='fa fa-fw fa-angle-right'></i><span>My Kloj</span></div>
					<!-- <div class='kloj-count badge'>10</div> -->
					<ul class='folderlist'>
						<% _.each(User.get('kloj'), function(kloj, i){ %>
							<li data-id='<%= kloj.id %>' class='page' data-url='<%= App.getKlojURL(kloj) %>'>
								<span class='kloj-title'><a href='<%= App.getKlojURL(kloj) %>'><%= kloj.name || kloj.id %></a></span>
								<div class='kloj-icon'></div>
								<!-- <div class='kloj-count badge'>10</div> -->
							</li>
						<% }); %>
					</ul>
				</li>
				<li id='subfolder-tab' class='folder <% if (!User.get('subbed') || User.get('subbed').length == 0) print ('empty') %>' >
					<div class='title'><i class='fa fa-fw fa-angle-down'></i><span>Following</span></div>
					<!-- <div class='kloj-count badge'>10</div> -->
					<ul class='folderlist'>
						<% _.each(User.get('subbed'), function(kloj, i){ %>
							<li data-id='<%= kloj.id %>'>
								<span class='kloj-title'><a href='<%= App.getKlojURL(kloj) %>'><%= kloj.name || kloj.id %></a></span>
								<div class='kloj-icon'></div>
								<!-- <div class='kloj-count badge'>10</div> -->
							</li>
						<% }); %>
					</ul>
				</li>
			<% } %>
			<li class="divider"></li>
			<% if (User.isLoggedIn()){ %>
				<li id='profile-tab' class='page' data-url='profile'>
					<div class='title'><a href='/profile'><i class='fa fa-fw fa-user'></i><span><%= User.get('username') %></span></a></div>
				</li>
				<li class='logout' data-url='logout'>
					<div class='title'><a href='/logout'><i class='fa fa-fw fa-sign-out'></i><span>Logout</span></a></div>
				</li>
			<% } else { %>
				<li class='page' data-url='login'>
					<div class='title'><a href='/login'><i class='fa fa-fw fa-sign-in'></i><span>Login</span></a></div>
				</li>
			<% } %>
			<% if (User.isAdmin()){ %>
				<li id='admin-tab' class='page' data-url='admin'>
					<div class='title'><a href='/admin'><i class='fa fa-fw fa-dashboard'></i><span>Admin</span></a></div>
				</li>
			<% } %>
		</ul>
	</div>
	<div class='bottom'></div>
</div>
<div class='side-sm'>
	<div class='content'>
		<ul>
			<li class='toggle'>
				<i class='fa fa-fw fa-toggle-right' title='Show'></i>
			</li>
			<li class='divider'></li>
			<li class='page' data-url='home'>
				<a href='home'><i class='fa fa-fw fa-home' title='Home'></i></a>
			</li>
			<li class='page' data-url='browse'>
				<a href='browse'><i class='fa fa-fw fa-eye' title='Browse'></i></a>
			</li>
			<li class='page' data-url='create'>
				<a href='create'><i class='fa fa-fw fa-edit' title='Create'></i></a>
			</li>
			<% if (User.isLoggedIn()){ %>
				<li class='page' data-url='saved'>
					<a href='saved'><i class='fa fa-fw fa-star' title='Saved'></i></a>
				</li>
				<li class='divider'></li>
				<li class='folder'>
					<i class='fa fa-fw fa-angle-right' title='My Kloj'></i>
				</li>
				<li class='divider'></li>
				<li class='page' data-url='profile'>
					<a href='profile'><i class='fa fa-fw fa-user' title='Profile'></i></a>
				</li>
				<li class='logout' data-url='logout'>
					<a href='/logout'><i class='fa fa-fw fa-sign-out' title='Logout'></i></a>
				</li>
			<% } else { %>
				<li class='divider'></li>
				<li class='page' data-url='login'>
					<a href='/login'><i class='fa fa-fw fa-sign-in' title='Login'></i></a>
				</li>
			<% } %>
			<% if (User.isAdmin()){ %>
				<li class='page' data-url='admin'>
					<a href='admin'><i class='fa fa-fw fa-dashboard' title='Admin'></i></a>
				</li>
			<% } %>
		</ul>
	</div>
</div>