<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4'>
      <div class='panel panel-default'>
        <form class='form form-signup' role='form' id='signup' name='signup'>
          <div class='panel-body'>
            <h5 class='text-center'>SIGN UP</h5>
            <div class='form-group'>
              <div class='input-group'>
                <span class='input-group-addon'><i class='fa fa-fw fa-user'></i></span>
                <input type='text' class='form-control' id='username' placeholder='Username' required/>
              </div>
            </div>
            <div class='form-group'>
              <div class='input-group'>
                <span class='input-group-addon'><i class='fa fa-fw fa-envelope'></i></span>
                <input type='email' class='form-control' id='email' placeholder='Email' required/>
              </div>
            </div>
            <div class='form-group'>
              <div class='input-group'>
                <span class='input-group-addon'><i class='fa fa-fw fa-lock'></i></span>
                <input type='password' class='form-control' id='password' placeholder='Password' required/>
              </div>
            </div>
            <div class='text-center'><span id='status'></span></div>
            <div class='text-center'><a href='login'>sign in</a></div>
          </div>
          <button type='btn' class='btn btn-primary btn-block'>SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</div>