{{#exists}}
  <form action="/v1/k/{{ kloj.id }}" method="post">
    <input type="hidden" name="_method" value="PUT" />
{{/exists}}
{{^exists}}
  <form action="/v1/k" method="post">
{{/exists}}

  <fieldset>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="title" value="{{ kloj.title }}" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="user_id" value="{{ kloj.user_id }}" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="theme_id" value="{{ kloj.theme_id }}" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="description" value="{{ kloj.description }}" />
      </div>
    </div>

    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Save" />
    </div>

  </fieldset>
</form>