<div id='kloj-main' class='bg'>
	<div id='kloj-header' class='headlinecolor headlinefont'>
		<div class='kloj-action-bar pull-right'>
			<a class='kloj-web' href='#'><i class='fa fa-globe post-action' title='View on Web' style='display: none;'></i></a>
			<i class='prev fa fa-chevron-up fa-lg post-action' title='Previous' style='display: none;'></i>
			<i class='next fa fa-chevron-down fa-lg post-action' title='Next' style='display: none;'></i>
			<i class='close-link fa fa-times post-action' title='Close' style='display: none;'></i>
			<i class='kloj-refresh fa fa-refresh kloj-action' title='Refresh'></i>
			<span class='dropdown'>
				<a data-toggle='dropdown' href='#'>
					<i class='fa fa-cog kloj-action' title='Quick Settings' data-action='settings'></i>
				</a>
				<ul class='dropdown-menu dropdown-menu-right' role='menu' area-labelledby='dLabel'>
					<li role='presentation' class='dropdown-header'>Theme</li>
					<li><a href='#' class='render-theme' data-id='222'>Compressed</a></li>
					<li><a href='#' class='render-theme' data-id='198'>Grid</a></li>
					<li><a href='#' class='render-theme' data-id='223'>Magazine</a></li>
					<li><a href='#' class='render-theme' data-id='344'>Brick</a></li>
					<li role='presentation' class='divider'></li>
					<li role='presentation' class='dropdown-header'>Kloj</li>
					{{ #user.id }}
						<li><a href='#' data-action='delete'>Delete</a></li>
					{{ /user.id }}
					<!--<% if ( User.isLoggedIn() && User.get('id') == kloj.get('userid') ) { %><li><a href='#' data-action='delete'>Delete</a></li><% } %>-->
				</ul>
			</span>
		</div>
			<div class='kloj-header-bar'>
				<h2>
					{{ kloj.title }}
					<small>
						<span class='kloj-header-action kloj-sub'>Follow</span>
						<span class='kloj-header-action'><a href='edit/{{kloj.id}}'>Edit</a></span>
					</small>
				</h2>
			</div>
		</div>
		<div id='kloj-fixed-header' class='headlinecolor headlinefont bg'>
			<div class='kloj-action-bar pull-right'>
				<a class='kloj-web' href='#'><i class='fa fa-globe post-action' title='View on Web' style='display: none;'></i></a>
				<i class='prev fa fa-chevron-up fa-lg post-action' title='Previous' style='display: none;'></i>
				<i class='next fa fa-chevron-down fa-lg post-action' title='Next' style='display: none;'></i>
				<i class='close-link fa fa-times post-action' title='Close' style='display: none;'></i>
				<i id='goTop' class='fa fa-angle-double-up kloj-action' title='Back to Top'></i>
				<i class='kloj-refresh fa fa-refresh kloj-action' title='Refresh'></i>
				<span class='dropdown'>
					<a data-toggle='dropdown' href='#'>
						<i class='fa fa-cog kloj-action' title='Quick Settings' data-action='settings'></i>
					</a>
					<ul class='dropdown-menu dropdown-menu-right' role='menu' area-labelledby='dLabel'>
						<li role='presentation' class='dropdown-header'>Theme</li>
						<li><a href='#' class='render-theme' data-id='222'>Compressed</a></li>
						<li><a href='#' class='render-theme' data-id='198'>Grid</a></li>
						<li><a href='#' class='render-theme' data-id='223'>Magazine</a></li>
						<li><a href='#' class='render-theme' data-id='344'>Brick</a></li>
						<li role='presentation' class='divider'></li>
						<li role='presentation' class='dropdown-header'>Kloj</li>
						{{ #user.id }}
							<li><a href='#' data-action='delete'>Delete</a></li>
						{{ /user.id }}
					</ul>
				</span>
			</div>
			<div class='kloj-fixed-header-bar'>
				<strong>{{ kloj.title }}</strong>
				<span class='kloj-header-action'><a>Follow</a></span>
				<span class='kloj-header-action'><a href='edit/{{ kloj.id }}'>Edit</a></span>
			</div>
		</div>
	<div id='kloj-body'>
  	<div style='margin-top: 30px'><div class='loader'></div></div>
	</div>
</div>