<div class="container">
	<div class="row">
		<div id="recent" class="col-sm-8 lcolumn"></div>
		<div id="intro" class="col-sm-8 lcolumn hidden"></div>
		<div class="col-sm-4 rcolumn">
			<div class="block" id="account">
				<div class="block-heading">Account</div>
				<div class="block-body">
					<ul>
						<li id="customize">
							<i class="fa fa-dashboard fa-fw"></i> Customize
						</li>
						<li id="mykloj">
							<i class="fa fa-database fa-fw"></i> My Klojs <span class="badge pull-right">10</span>
						</li>
						<li id="following">
							<i class="fa fa-share fa-fw"></i> Following <span class="badge pull-right">10</span>
						</li>
						<li id="comments">
							<i class="fa fa-comment-o fa-fw"></i> New Comments <span class="badge pull-right">10</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="block" id="active">
				<div class="block-heading">Active</div>
				<div class="block-body">
					<ul>
						<li>Kloj A</li>
						<li>Kloj B</li>
						<li>Kloj C</li>
					</ul>
				</div>
			</div>
			<div class="block" id="recommended">
				<div class="block-heading">Recommended</div>
				<div class="block-body">
					<ul>
						<li>Kloj A</li>
						<li>Kloj B</li>
						<li>Kloj C</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>