<div class='textblock'>
	<h4>Welcome to Kloj!</h4>
	<p><a href='#'>Take a tour</a></p>
	<p><a href='/create'>Create your first kloj</a></p>
	<p><a href='/browse'>Browse others</a></p>
	<p>Customize some options</p>
</div>