<li data-id='<%= post.id %>'>
	<div class='image-wrap'>
		<% if (post.hasImage()){ %>
			<img src='<%= post.getThumbnailByHeight(120) %>'>
		<% } %>
	</div>
	<h4 class='post-title'><a href='<%= post.get('url') %>' data-id='<%= post.id %>'><%= post.get('title') %></a></h4>
	<h6>
		<span class='date'>Posted to <%= post.get('source').get('title') || post.get('source').id %> on <%= post.get('date') %></span>
		<span class='klojlink'>
			<% if (post.get('klojs').length > 20){ %>
				present in <%= post.get('klojs').length %> klojs
			<% }else{ %>
				<% _.each(post.get('klojs'), function(kloj){ %>
					<span><a href='/k/<%= kloj.id %>'><%= kloj.title || kloj.id %></a></span>
				<% }); %>
			<% } %>
		</span></h6>
	<div class='clearfix'></div>
</li>