<div class='container'>
  <div class="row">
    <div class="col-sm-3">
      
    </div>
    <div class="col-sm-9">
      <form class='form-horizontal profile-form' role='form'>
        <legend>Account Information</legend>
        <div class='form-group' data-group='username'>
          <label for='username' class='col-xs-2 control-label'>Username</label>
          <div class='col-xs-5'>
            <span class='text-span'><%= User.get('username') %></span>
            <input type='text' id='username' class='form-control hidden' value='<%= User.get('username') %>'>
          </div>
          <div class='col-xs-2'>
            <span class='edit-link' data-target='username'>Edit</span>
          </div>
        </div>
        <div class='form-group' data-group='email'>
          <label for='email' class='col-xs-2 control-label'>Email</label>
          <div class='col-xs-5'>
            <span class='text-span'><%= User.get('email') %></span>
            <input type='email' id='email' class='form-control hidden' value='<%= User.get('email') %>'>
          </div>
          <div class='col-xs-2'>
            <span class='edit-link' data-target='email'>Edit</span>
          </div>
        </div>
        <div class='form-group' data-group='password'>
          <label for='password' class='col-xs-2 control-label'>Password</label>
          <div class='col-xs-5'>
            <span class='text-span'>*******</span>
            <input type='password' id='password' class='form-control hidden'>
          </div>
          <div class='col-xs-2'>
            <span class='edit-link' data-target='password'>Edit</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>