/** NPR **/
.caption {
	font-size:12px;
	padding: 12px 0 0;
}
.credit {
	font-style: italic;
	line-height: 1.7;
}
.bucketwrap.image.large {
	margin-bottom: 40px;
}
embed {
	width: 400px;
	height: 386px;
}
@media only screen and (max-width: 429px){
	embed {
		display: none;
	}
}
