.story-date{
	display:block;
	color: #505050;
	font-size: 13px;
}
.story-date .date {
	font-weight: bold;
}
.story-date .time-text {
	color: #666;
}
.byline-photo {
	display:block;
	height:64px;
	margin-bottom:8px;
}
.byline img{float:left;margin:0 8px 0 0;}
.byline-name{padding-bottom:2px;font-weight:bold;display:block;}
.byline-title{display:block;}
.embedded-hyper{float: right; clear: right;margin:5px}
.embedded-hyper h2,.embedded-hyper h2 a{ color: #FFF; background: #D60000; font-size: 18px; padding: 13px 8px;}
.embedded-hyper ul{ margin: 0 0 0 10px;}
.body-width{margin:0 0 15px;}.body-width span{display:block;font-style:italic;}
.story-body ul{ list-style-type: none;}
.story-body .cross-head{font-weight: bold; display: block; margin: 0 0 16px 0; color: #505050;}
.story-body .caption span{display: block; padding-bottom: 10px; font-style: italic;}
.story-body .story-header{font-size: 1.8em; line-height: 36px;}
.story-body .related{position: relative; float: right; clear: right; display: inline; padding-left: 20px; width: 180px;}
.story-body .related h2{font-size: 1.231em; line-height: 16px; border-top: 1px solid #D8D8D8; border-bottom: 1px solid #D8D8D8; padding: 11px 0 12px; margin: 0 0 8px 0;}
#also-related-links h3{font-size: 18px;}
#lead .story-feature{float:none;width:auto;}
.story-body .wide{width: 300px;}
.story-body .quote{border-bottom: 1px solid #D8D8D8; border-top: 1px solid #D8D8D8;}
.story-body h1{font-size:30px;line-height:1;margin-bottom:16px;}
.story-feature{float:right;clear:right;width:160px;margin-left:20px;}
.full, .full-width{width:100%;}
.story-feature blockquote{float:left;font-weight:bold;padding:0;margin:0;}
.introduction{margin-top:10px;font-weight: bold;}
.info .tag{margin-left:5px;}
.hypertabs{background:#EEE;}.hypertabs ul{margin-top:10px;}.hypertabs li{float:left;margin:0 15px;}