.entry .alignleft {
	max-width: 325px;
	float: left;
	margin: 0 25px 26px 0;
	position: relative;
}
.entry .alignright {
	max-width: 325px;
	float: right;
	margin: 0 0 26px 25px;
	position: relative;
}
.entry .alignnone {
	clear: both;
}
.wp-caption-text {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
#liveblog-hdr{border-top:10px solid #000;border-bottom:10px solid #000;height:160px;background-color:#000;}
#liveblog-hdr p{padding:10px 0;margin:0 auto;width:181px;color:#FFF;}
#liveblog-hdr ul{position:relative;list-style-type:none;color:#333;}
#liveblog-hdr li:first-child{margin-left: 0;}
#liveblog-hdr li{float:left;display:inline-block;margin-left:10px;}
#liveblog-hdr li a{color:#999;}#liveblog-hdr li.selected a{padding:2px 5px;background-color:#F72C33;color:#FFF;text-transform:uppercase;}
#liveblog-hdr .brandon{font-family:brandon-grotesque,anchor-web,Helvetica,Arial,sans-serif;}.black{font-weight:600;}
ul.sub-nav{list-style-type:none;}
ul.sub-nav li{float:left;margin:5px 10px;}"
#article-tags {
	list-style: none;
}
#article-tags li {
	display: inline-block;
	margin-right: 8px;
}